-var appname='SIPUT';var appdesc='Sistem Pengumpulan Tugas';
doctype html
html
	head
		link(rel='stylesheet' type='text/css' href='/css/material-icon.css')
		link(rel='stylesheet' type='text/css' href='/css/materialize.min.css')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title=title+' - '+appname
		block style
	body
	block content
	script(type='text/javascript' src='/js/jquery-3.2.1.min.js')
	script(type='text/javascript' src='/js/materialize.min.js')
	block script